nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 230px;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
  .nav-title{
    font-weight: 800;
    font-size: 45px;
  }
  .text-primary{
    color: #FD6E0A;
  }
  .dark-2{
    color: #474747;
  }
  .text-center{
    text-align: center;
  }
  .btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
  }
  .dark-3{
    color: #757575;
  }
  .heading{
    font-size: 45px;
    font-weight: 600;
  }
  .banner-title{
    font-weight: bold;
    font-size: 85px;
  }
  .text{
    font-size: 18px;
  }
  ul li {
    list-style-type: none;
    margin-right: 52px;
  }
  .secondary-bg{
    background-color: #FFF8F3;
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 20px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
  }
  .banner-content{
    max-width: 586px;
  }
  .photo{
    height: 676px;
    width: 584px;
  }
  .section-title{
font-size: 35px;
font-weight: bold;
  }
  .dark-1{
    color: #181818;
  }
  .about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
 
  }
  .abouts-items{
    display: flex;
    justify-content: space-around;
  }
  .about-title{
    font-size: 20px;
    color: #757575;
  }
  .about-description{
    font-weight: bold;
    font-size: 20px;
    color:#474747;
  }
  main{
    max-width: 1140px;
    margin: 0 auto;
  }
  main section{
    margin-top: 130px;
    margin-bottom: 120px;
  }
  .skills-box{
    display: flex;
    gap: 25px;
  }
  .skill{
    padding: 30px;
    box-shadow: 0px 6px 60px 0px  ;
    border-radius: 5px;
  }
  .Resume-nam{
    color: #181818;
   font-weight: bold;
   font-size: 35px;
  }
  
  .resume-column-title{
    font-weight: 800;
    font-size: 30px;
    color: #474747;
  }
  .experience-title{
    font-size: 25px;
    font-weight: 800;
    color: #181818;
  }
  .experience-sub-title{
    font-size:20px ;
    font-weight: 700;
    color: #757575;
  }
  .experience-description{
    font-size: 16px;
    color: #757575;
  }
  .resume-container{
    display: flex;
    gap: 26px;
  }
  .btn{
    text-align: center;
  }
  .Resume-nam{
    text-align: center;
  }
  footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
  }
  .footer-column{
    width: 50%;
  /* }
  footer input [type="text"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
  } */
  .footer-text{
    font-size: 16px;
    color: #474747;
  }
  .input-text{
    display: block;
    width: 461px;
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #757575;
    font-size: 16px;
    border: none;
    padding: 18px 30px;
  }
  .message-box{
    height: 180px;
    width: 461px;
    padding: 18px 30px;
    font-size: 16px;
    color: #757575;
  }